@using System.Web.Services.Description

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyCinema</title>

    @Styles.Render("~/dist/style.css")
    @Styles.Render("~/Content/font-awesome/css/font-awesome.min.css")
</head>
<body>

    <div id="app">
        <my-navbar></my-navbar>
        <div class="container">
            <router-view></router-view>
        </div>
        <footer class="footer">
            <div class="container">
                &copy;MyCinema @DateTime.Now.Year
            </div>
        </footer>
    </div>

    @Scripts.Render("~/node_modules/axios/dist/axios.min.js")
    @Scripts.Render("~/dist/bundle.js")

</body>
</html>
