@using System.Web.Services.Description
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <link rel="stylesheet" type="text/css" href="dist/style.css">
</head>
<body>


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
<div class="container body-content">
    <div id="app">
           
            
    </div>
</div>
@RenderBody()
<hr />
<footer>
    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
</footer>
@if (Settings.UseWebpackDevServer)
{
    <link href="@(Settings.WebpackDevServerRoot)/vendor.css" rel="stylesheet">
    <link href="@(Settings.WebpackDevServerRoot)/app.css" rel="stylesheet">
    <script type="text/javascript" src="@(Settings.WebpackDevServerRoot)/polyfills.js"></script>
    <script type="text/javascript" src="@(Settings.WebpackDevServerRoot)/vendor.js"></script>
    <script type="text/javascript" src="@(Settings.WebpackDevServerRoot)/app.js"></script>
}
else
{
    @Scripts.Render("~/node_modules/vue/dist/vue.min.js")
    @Scripts.Render("~/node_modules/axios/dist/axios.min.js")
    @Scripts.Render("~/dist/bundle.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
}

    

</body>
</html>
